// base
@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "base";
@import "jssocials";
@import "jssocials-theme-flat";

body {
  background-image: asset_url('backimg.png');
  background-size: cover;
  background-position: center center;
}

.jumbotron-transparent {
  background: transparent;

  h1 {
    color: white;
    text-shadow: 0 2px 2px #000;
  }

  p {
    color: white;
  }
}

#share {
  margin-bottom: 20px;
}

.jssocials-share-count-box {
  height: 2em;
  .jssocials-share-count {
    line-height: 2.2em;
  }
}