// base
@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "base";

body {
  background-image: asset_url('backimg.png');
  background-size: cover;
  background-position: center center;
}