.container
  .jumbotron.jumbotron-transparent
    %h1.text-center
      %a{href: "/", style: "color: #fff;"} 필리버스터.미
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo incidunt quas, neque saepe hic amet corrupti totam odio debitis, dolor mollitia alias rerum modi. Ad commodi ipsa, ab ullam quisquam.
    .btns.text-center
      = link_to '릴레이', 'http://filibuster.me', class: 'btn btn-primary btn-lg'
      = link_to '고스톱', root_path, class: 'btn btn-primary btn-lg'

    .sign-in.text-right
      - if user_signed_in?
        = link_to destroy_user_session_path, method: :delete do
          %i.fa.fa-sign-out
          로그아웃
      - else
        = link_to new_user_session_path do
          %i.fa.fa-sign-in
          로그인

